
# === IGNORE ALL ===
/*

# === EXCEPT ===
!/.gitignore
!/.npmignore
!/.travis.yml
!/*.json
!/*.txt
!/*.md
!/*.js
!/LICENSE

!/source
/source/**.DS_Store

!/test
/test/**.DS_Store

!/examples
/examples/**.DS_Store